<div class="container">
  <div class="bottom-margin-30">
    <h1>Guest Stars</h1>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th class="std-col borderless"></th>
          <th class="std-col borderless"></th>
        </tr>
      </thead>

      <tbody>
        <% @guest_stars.each do |guest_star| %>
          <tr>
            <td class="std-col borderless"><%= link_to guest_star.name, guest_star_path(guest_star.name) %></td>
            <td class="std-col borderless"><img src="https://image.tmdb.org/t/p/w300/opY5b6qQOCIFDpQXYsxFbQ7Ka6h.jpg"></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
</div>
