<div class="container">
  <div class="bottom-margin-30">
    <div class="bottom-margin-15">
      <h3><%= @guest_star.name %></h3>
      <i class="fa fa-arrow-left" aria-hidden="true"></i><%= link_to 'Back to Guest Stars', guest_stars_path %>
    </div>

    <div class="details">
      <%= render partial: "shared/appearances", locals: {appearances: @appearances} %>
    </div>
  </div>
