<div class="container">
  <div class="bottom-margin-30">
    <h1>Series</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="std-col">Title</th>
        <th class="std-col">Genre</th>
        <th class="long-col">Summary</th>
      </tr>
    </thead>

    <tbody>
      <% @series.each do |series| %>
        <tr>
          <td class="std-col"><%= link_to series.series_title, series_path(series.series_title) %></td>
          <td class="std-col"><%= series.genre %></td>
          <td class="long-col"><%= raw series.summary.truncate(200) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
